In [1]:
import pandas as pd

### CSV

In [2]:
pd.read_csv(r"C:\Users\lenovo\Desktop\Nandhu\Datasets\py-master\pandas\2_dataframe_basics\weather_data.csv")

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### EXCEL

In [5]:
pd.read_excel(r"C:\Users\lenovo\Desktop\Nandhu\Datasets\py-master\pandas\3_different_ways_of_creating_dataframe\weather_data.xlsx")

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

### DICTIONARY

In [6]:
weather_data = {
    'day':['1/1/2017','1/1/2018'],
    'event':['Rain','Snow'],
    'temperature':[32,26],
    'windspeed':[6,5]
}

df = pd.DataFrame(weather_data)
df.head()

        day event  temperature  windspeed
0  1/1/2017  Rain           32          6
1  1/1/2018  Snow           26          5

### TUPLE

In [8]:
weather_data=[
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2018',35,7,'Sunny')
]

df = pd.DataFrame(weather_data,columns=["day","event","temperature","windspeed"])
df.head()

        day  event  temperature windspeed
0  1/1/2017     32            6      Rain
1  1/2/2018     35            7     Sunny

https://pandas.pydata.org/docs/user_guide/io.html

Use this link to learn about reading different types of files in python